body{
    padding: 50px 100px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
}
.item{
    border: 1px solid #000;
    background-color: #57a152;
    color: #fff;
    padding: 15px;
}
.box{
    display: grid;
    /* grid-template-columns: 200px 300px 15% auto; */
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(6, 1fr);
}